@using Kinde.Authorization.Models.Tokens
@{
    ViewData["Title"] = "Home Page";
}
@model OauthToken
<div class="text-center">
<dl style="max-width:800px">
      <dd>Remaining time</dd>
     <dt>@Html.DisplayFor(model=>model.Duration)</dt>
    <dd >@Html.LabelFor(model=>model.AccessToken)</dd>
     <dt style="word-break:break-all; word-wrap: break-word;">@Html.DisplayFor(model=>model.AccessToken)</dt>
   
</dl>
</div>
