{{>partial_header}}

using System;

namespace {{packageName}}.Client
{
    /// <summary>
    /// A delegate to ExceptionFactory method
    /// </summary>
    /// <param name="methodName">Method name</param>
    /// <param name="response">Response</param>
    /// <returns>Exception to throw, or null to suppress.</returns>
    {{>visibility}} delegate Exception? ExceptionFactory(string methodName, IApiResponse response);
}
