{{>partial_header}}
using System;
using System.Collections.Generic;

namespace {{packageName}}.Client
{
    /// <summary>
    /// A URI builder
    /// </summary>
    class WebRequestPathBuilder
    {
            private string _baseUrl;
            private string _path;
            private string _query = "?";
            public WebRequestPathBuilder(string baseUrl, string path)
            {
                _baseUrl = baseUrl;
                _path = path;
            }

            public void AddPathParameters(Dictionary<string, string> parameters)
            {
                if (parameters == null) return;
                foreach (var parameter in parameters)
                {
                    _path = _path.Replace("{" + parameter.Key + "}", Uri.EscapeDataString(parameter.Value));
                }
            }

            public void AddQueryParameters(Multimap<string, string> parameters)
            {
                if (parameters == null) return;
                foreach (var parameter in parameters)
                {
                    var encodedKey = Uri.EscapeDataString(parameter.Key ?? string.Empty);
                    foreach (var value in parameter.Value)
                    {
                        var encodedVal = Uri.EscapeDataString(value ?? string.Empty);
                        _query += encodedKey + "=" + encodedVal + "&";
                    }
                }
            }

            public string GetFullUri()
            {
                return _baseUrl + _path + _query.Substring(0, _query.Length - 1);
            }
    }
}
