            if (!suppressDefaultLog)
                Logger.LogInformation("{ElapsedSeconds:0.000}s | {StatusCode} | {Path}",
                    System.Math.Max(0D, (apiResponseLocalVar.DownloadedAt - apiResponseLocalVar.RequestedAt).TotalSeconds),
                    apiResponseLocalVar.StatusCode,
                    apiResponseLocalVar.Path);