using System;

namespace {{packageName}}.{{clientPackage}}
{
    /// <summary>
    /// Useful for tracking server health
    /// </summary>
    {{>visibility}} sealed class ExceptionEventArgs : EventArgs
    {
        /// <summary>
        /// The exception associated with the event.
        /// </summary>
        public Exception Exception { get; }

        /// <summary>
        /// Initializes a new instance of the ExceptionEventArgs class.
        /// </summary>
        /// <param name="exception">The exception raised by the operation.</param>
        public ExceptionEventArgs(Exception exception)
        {
            Exception = exception ?? throw new ArgumentNullException(nameof(exception));
        }
    }
}
